:root {

    --board-size: clamp(300px,100%, 450px);

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html,
body {

    width: 100%;
    height: 100%;
    position: relative;
    
}  


.start-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.507);

    display: grid;
   
    justify-items: center;
    align-items: center;

    /*Comment this later*/
    /* display: none; */
}

.menu-title {

    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}


.game-start {
    display: none;
}

.start-menu {
    border: 1px solid cyan;
    position: fixed;
    height: 330px;
    width: clamp(250px,100%,490px);
    background-color: orange;
    /* display: none; */
    border-radius: 15px;
    justify-items: center;
}

.form-container {
    display: grid;
    /* grid-template-columns: 1fr;

    grid-template: 
    "grid-size"
    "players"; */
}

.grid-size {

    /* grid-area: grid-size; */
    display: grid;

    justify-self: center;
    justify-items: center;
    padding: 20px;

    font-size: 30px;

}

.grid-size > input {

    font-size: 20px;
    width: 40px;
    text-align: center;
    border-radius: 15px;

}

.players {

    /* grid-area: players; */

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

    grid-template-rows: repeat(auto-fit, 70px);
    border: 1px solid burlywood;

    justify-items: center;

    padding-top: 30px;
    width: 100%;
    height: 180px;
    



}

.players > div > input {
    appearance: none;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    /* padding-left: 15px; */
    font-size: 20px;
    text-align: center;

}

.player-one,
.player-two  {

    border: 1px solid goldenrod;

    height: 50px;

    width: 220px;

    display: grid;

    justify-items: center;

    font-family: Arial, Helvetica, sans-serif;

    /* grid-area: player-one; */

}

/* .player-two {
    border: 1px solid lightskyblue;
   
    height: 50px;
    width: 300px;

    display: grid;

    justify-items: center;

} */




.button-container,
.button-container > button {
    width: 100px;
    height: 45px;
    justify-self: center;
    border-radius: 15px;
}




.parent-container{
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
}

.main-container {

    background-color: black;
    width: 100%;
    height: 100%;
    border: 1px solid red;

}

.status-container{

    border: 1px solid blue;
    width: 100%;
    height: 200px;
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    grid-template-areas: "left-status center-status right-status";


}

.center-status {
    height: 100%;

    grid-area: center-status;
}

.left-status {
    border: 1px solid yellow;
    height: 100%;
    width: 100%;

    grid-area: left-status;
}

.right-status {

    border: 1px solid green;
    height: 100%;
    width: 100%;

    grid-area: right-status;

}

.status-display {
    height: 50%;
    border: 1px solid yellow;
    color: white;
    text-align: center;
    font-size: 30px;
}

.restart-button {
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 50%;
    padding-top: 30px;
}

.restart {
    width: 120px;
    height: 50px;
    border-radius: 15px;
}

.board-container{

    border: 1px solid purple;
    width: 100%;
    height: clamp(320px,100%,550px);
    display: grid;
    justify-items: center;
    align-items: center;

}

.turn-container{

    border: 1px solid green;
    width: 100%;
    height: 20%;

    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding-top: 30px;

    /* grid-template: "player-one-container player-two-container"; */

}

.player-one-container {

    /* grid-area: player-one-container; */
    

}

.player-two-container {

    /* grid-area: player-two-container; */

}


.player-one-container,
.player-two-container {

    display: grid;

    width: 100%;
    justify-items: center;
    border: 1px solid red;
    height: 100%;

}

.your-turn {

    background-color: greenyellow;

}

.player-one-name,
.player-two-name {
    color: aquamarine;
    border: 1px solid white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 50px; */
}

.player-one-score,
.player-two-score {
    color: white;
    border: 1px solid white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    /* width: 50px; */
}


.board {

    width:  300px;
    height: 300px;
    border: 1px solid orange;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

}

.grid {

    display: grid;
    width: 100px;
    height: 100px;
    /* Messes with the text spacing */
    line-height: 70px;
    justify-content: center;
    border: 1px solid greenyellow;
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    /* padding-bottom: 100px; */

}



